@{
    ViewBag.Title = "About";
}
<h2>About Carrenta</h2>
<h3>Carrenta is meant to be simple. Our slogan is <em>Simply rent a car!</em></h3>

<br />
<hr />
<br />

<p>If you want to order a car:</p>
<ul>
  <li>Register in Carrenta</li>
  <li>Fint a car you want</li>
  <li>Place an order on desired dates</li>
</ul>
<p>Simple is that!</p>
