@{
  ViewBag.Title = "Contact";
}
<h2>Carrenta contacts</h2>
<h3>You can get in contact with us by:</h3>

<address>
  Planet Earth<br>
  Somewhere somewhat street<br>
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6966.948791160045!2d-21.80487474466607!3d64.11632328730406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNjTCsDA2JzU4LjgiTiAyMcKwNDcnNDYuMCJX!5e0!3m2!1sen!2sby!4v1521049803207" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<strong>Phone: </strong><a href="tel:+375296678501">375 29 667 8501</a>
<br>
<strong>Support: </strong><a href="mailto:Support@example.com">support@carrenta.com</a>