@{
    ViewBag.Title = "Home Page";
}

<div class="homepage__slider">
    <img src="~/Content/images/01.jpg" />
    <img src="~/Content/images/02.jpg" />
    <img src="~/Content/images/03.jpg" />
    <img src="~/Content/images/04.jpg" />
</div>

<div class="row homepage__testimonials">
    <h2>Read our happy clients' reviews</h2>
    <div class="col-md-4 testimonial__block">
        <h4>John Smith</h4>
        <img src="~/Content/images/client1.png" alt="Client image" class="img-circle"/>
        <p>I had a very pleasent experience with Carrenta. You can easily find a company that offers the right mix of features and price for you, but now I now know, that Carrenta is the best of them. It provides with simple design and functionality. It just works!</p>
    </div>
    <div class="col-md-4 testimonial__block">
        <h4>Ivan Ivanov</h4>
        <img src="~/Content/images/client2.jpg" alt="Client image" class="img-circle"/>
        <p>I had a very pleasent experience with Carrenta. You can easily find a company that offers the right mix of features and price for you, but now I now know, that Carrenta is the best of them. It provides with simple design and functionality. It just works!</p>
    </div>
    <div class="col-md-4 testimonial__block">
        <h4>Adam Snow</h4>
        <img src="~/Content/images/client3.jpg" alt="Client image" class="img-circle"/>
        <p>I had a very pleasent experience with Carrenta. You can easily find a company that offers the right mix of features and price for you, but now I now know, that Carrenta is the best of them. It provides with simple design and functionality. It just works!</p>
    </div>
</div>